/* #__next {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  padding: 0%;
  margin: 0%;
} */

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
#__next {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.DentistimoMap {
  position: relative;
  min-width: 100vw;
  min-height: 84vh;
  height: 100%;
}
