html,
body {
  min-height: 100vh;
  min-width: 100vw;
}
/* 
#__next, html, body {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
} */
